body {
	
}

.jumbotron {
	background-color: lightgreen;
	background-repeat: no-repeat;
	text-align: center;
	margin-bottom: 1%;
}

.jumbotron::after {
	content: "";
	background: url('01-throwing-away-money.jpg');
	opacity: 0.2;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
}

.container-fluid {
	/*Work on this: position: center;*/
}